.dragHandle {
  color: lightgrey;
  transition: 0.5s;
}
.form:hover .dragHandle {
  color: grey;
}

.preview {
  margin-left: 30px;
  margin-bottom: 20px !important;
}

.emailField,
.additionalField {
  width: 500px;
  margin-left: 30px !important;
  margin-top: 20px !important;
  display: block;
}

.addSectionButton {
  margin-left: 30px !important;
  display: flex;
}

.options {
  margin-left: 30px !important;
}
