.section {
  display: inline-block;
  width: 700px;
  max-width: 88%;
  margin-top: 10px;
}

.inputSectionName,
.inputProductName,
.inputProductCurrency,
.inputProductPrice {
  border: none;
  background-color: transparent;
  transition: 0.3s;
  border-radius: 3px;
  padding: 5px;
  cursor: text;
  display: block;
  font-size: 18px;
}

.inputSectionName {
  font-size: 22px;
  font-weight: 700;
  min-width: 60%;
}

.inputProduct {
  display: flex;
}

.inputProductName {
  min-width: 60%;
}
.inputProductPrice {
  max-width: 60px;
}

.inputProduct:focus,
.inputProduct:active,
.inputProduct:hover,
.inputProductPrice:focus,
.inputProductPrice:active,
.inputProductPrice:hover,
.inputProductName:focus,
.inputProductName:active,
.inputProductName:hover,
.inputSectionName:focus,
.inputSectionName:active,
.inputSectionName:hover {
  outline: none;
  background-color: rgba(63, 81, 181, 0.04);
}
